
body {
    padding-top: 50px;
    background-image: url("/img/homeBackground.jpg");
    background-size: cover;
    background-attachment: fixed;
}
#brandText{
    font-size: 8em;
    color: #ec964e ;
    text-transform: capitalize;
    text-align: center;
    padding-top: 120px;
    position: sticky;
    top: 50px;
    text-shadow: 0px -4px 2px #5d5c4f;
}
#homeTop {
    height: 82vh;
}
.navbar{
    border: 0px;
    margin-bottom: 0px;
}
.navbar-default{
    background-color: cornsilk;
}
#mainStream{
    z-index: 2;
}
.content {
    background-color: rgba(242,222,182, 0.87);
    padding: 5px;
    margin: 15px;
    border-radius: 8px;
}

p {
    font-size: 1.2em;
    margin: 10px;
}
iframe{
    padding: 15px;
 }

div.panel{
    vertical-align: middle;
    display: inline-block;
    background-color: #5b7e72;
    margin-top: 20px;
}
h1, h2{
    text-align: center;
}
footer{
    background-color: cornsilk;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover{
    background-color: wheat;
}
